{% extends "base.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'question' %}">問題演習</a></li>
{% endblock %}
{% block content %}

<h1>問題演習</h1>
<form method="post">
    {% csrf_token %}
    {% for question in questions %}
    <div>
        <h2>{{ question.title }}</h2> <!-- 問題タイトルを表示 -->
        <p>{{ question.content }}</p> <!-- 問題内容を表示 -->
        <label>
            <input type="radio" name="question_{{ question.id }}" value="1">
            {{ question.option_1 }}
        </label><br>
        <label>
            <input type="radio" name="question_{{ question.id }}" value="2">
            {{ question.option_2 }}
        </label><br>
        <label>
            <input type="radio" name="question_{{ question.id }}" value="3">
            {{ question.option_3 }}
        </label><br>
        <label>
            <input type="radio" name="question_{{ question.id }}" value="4">
            {{ question.option_4 }}
        </label><br>

        {% if results %}
            {% for result in results %}
                {% if result.question.id == question.id %}
                    <p>あなたの回答: {{ result.is_correct|yesno:"正解,不正解" }}</p>
                    <p>解説: {{ result.question.explanation }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">回答する</button>
</form>
<a href="{% url 'mypage' %}">戻る</a>

{% endblock %}